#
# usb-libvirt-hotplug.sh
#
# This can be used to attach devices when they are plugged into a
# specific port on the host machine.
#
# See: https://github.com/daybat/usb-libvirt-hotplug
#

[Unit]
Description=usb-libvirt-hotplug bg listener

[Service]
User=root
Group=root
Type=idle

WorkingDirectory=/SAMBA/4T/eldar/AQEMU/usb-devices/
ExecStart=/SAMBA/4T/eldar/AQEMU/usb-devices/usb-libvirt-hotplug.run.sh

[Install]
WantedBy=multi-user.target
